.col{
    margin: 20px;
    padding: 20px;
    width: 100%;

}

.details{
    flex-direction: row;
    height: 1000px;
}

.header{
     margin-top: 20px;

     margin-bottom: 20px;
 }

.title{
    margin-top: 10px;

    margin-bottom: 10px;
}
